{% extends 'store/basic.html' %}
{% block title %} TheAwesomeStore - Home {% endblock %}
{% block css %}
body{
  height:2000px;
}
h3{
  margin:45px;
}
.container{
    margin-top:10px;
}
.col-md-3{
    display:inline-block;
    margin-left:-4px;

}
.card{
    height:450px;
    width:250px;
}
.card-img-top{
    height:300px;
}
          .carousel-indicators .active {
            margin:0;
            padding:0;
            filter: invert(100%);
            }
          body .carousel-indicator li{
            margin:0;
            padding:0;
            filter: invert(100%);
          }
          body .carousel-control-prev,
          body .carousel-control-next{
            top:auto;
            bottom:auto;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
            top:auto;
            bottom:auto;
            margin:0;
            padding:0;
            filter: invert(100%);
          }
          .descsm{
            font-size:10px; ttl
          }
          .ttl{
            font-size:24px;
          }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">

  <!-- Slideshow starts here -->
  {% for product, range, nSlides in allProds %}

  <h3>{{product.0.category}}</h3>

<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card">
            <img src='/media/{{product.0.image}}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title ttl">{{product.0.product_name}}</h5>
                <p class="card-text descsm">{{product.0.product_description}}</p>
                <a href="#" id="" onclick = "cartClick({{ product.0.id }})" class="btn btn-primary btnclickcart">Add to Cart</a>
            </div>
          </div>
       </div>



        {% for i in product|slice:"1:"%}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title ttl">{{i.product_name}}</h5>
              <p class="card-text descsm">{{i.product_description}}</p>
              <a href="#" id="" onclick = "cartClick({{ i.id }})" class="btn btn-primary btnclickcart">Add To Cart</a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

   

    {% endfor %}
  </div>

  {% block js %}
<script>


    


  cartBtn = document.getElementsByClassName("btnclickcart");

  function cartClick(id){
      console.log(id)
      //console.log(id)
  }


</script>

  {% endblock %}

 {% endblock %}

